@model Avansist.Services.DTOs.AgendaBeneficiarioDto

@{
    ViewData["Title"] = "CreateAB";
}

@section Style {

    <link href="~/css/AggBeneficiario.css" rel="stylesheet" />
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header pb-0">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-sm-6">
                    <ul id="List"> <li class="heading" style="list-style: none; font-size: 25px" id="IconList"> Agendar beneficiario</li></ul>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="">Inicio</a></li>
                        <li class="breadcrumb-item active">Agendar Beneficiario</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="container">
        <div class="row">
            <div class="col-sm-11 p-0 mt-3 mb-2">
                <div class="card p-5 mt-0 mb-3 mx-auto" style="width: 700px">
                    <div class="col-sm-12">
                        <div class="">
                            <h4 class="text-left">
                                <b id="Tite">
                                    Agenda beneficiario
                                </b>
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr />
                    </div>
                    <form asp-action="CreateAB">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-sm-7 mx-auto">
                            <label asp-for="NombreEvento" class="control-label d-flex justify-content-center "></label>
                            <input asp-for="NombreEvento" class="form-control d-flex justify-content-center " />
                            <span asp-validation-for="NombreEvento" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-7">
                            <label asp-for="PreinscripcionId" class="control-label"></label>
                            <input asp-for="PreinscripcionId" type="text" value="@ViewBag.Nombre" class="form-control" readonly />
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="form-group col-sm-6">
                                <label asp-for="EmpleadoEncargado" class="control-label"></label>
                                <input asp-for="EmpleadoEncargado" class="form-control" />
                                <span asp-validation-for="EmpleadoEncargado" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label asp-for="NumeroDocumento" class="control-label"></label>
                                <input asp-for="NumeroDocumento" class="form-control" />
                                <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="form-group col-sm-6">
                                <label asp-for="Telefono" class="control-label"></label>
                                <input asp-for="Telefono" class="form-control" />
                                <span asp-validation-for="Telefono" class="text-danger"></span>
                            </div>
                            <div class="form-group  col-sm-6">
                                <label asp-for="Direccion" class="control-label"></label>
                                <input asp-for="Direccion" class="form-control" />
                                <span asp-validation-for="Direccion" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="form-group  col-sm-6">
                                <label asp-for="FechaInicioEvento" class="control-label"></label>
                                <input asp-for="FechaInicioEvento" id="fechaInicioEven" class="form-control" />
                                <span asp-validation-for="FechaInicioEvento" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label asp-for="FechaFinEvento" class="control-label"></label>
                                <input asp-for="FechaFinEvento" class="form-control" />
                                <span asp-validation-for="FechaFinEvento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr />
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="form-group col-sm-6">
                                <input type="button" value="Cancelar" id="btn-cancelar" class="btn btn-outline-secondary float-right" />
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="submit" value="Guardar Agenda" class="btn btn-outline-success float-right" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

    window.onload = function () {
        var fecha = new Date(); //Fecha actual
        var mes = fecha.getMonth() + 1; //obteniendo mes
        var dia = fecha.getDate(); //obteniendo dia
        var ano = fecha.getFullYear(); //obteniendo año
        if (dia < 10)
            dia = '0' + dia; //agrega cero si el menor de 10
        if (mes < 10)
            mes = '0' + mes //agrega cero si el menor de 10
        document.getElementById('fechaInicioEven').value = ano + "-" + mes + "-" + dia;
    }


    document.getElementById("btn-cancelar").addEventListener("click", function (event) {
    window.location.href = '@Url.Action("Index", "Preinscripcion")';
    });
</script>

}