@model Avansist.Services.DTOs.PreinscripcionDto

@{
    ViewData["Title"] = "Create Matricula";
}


@section Style {

    <link href="~/css/AggBeneficiario.css" rel="stylesheet" />
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header pb-0">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-sm-6">
                    <ul id="List"> <li class="heading" style="list-style: none; font-size: 25px" id="IconList"> Crear Matricula</li></ul>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="">Inicio</a></li>
                        <li class="breadcrumb-item active">Crear Matricula</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="container">
        <div class="row">
            <div class="col-sm-11 p-0 mt-3 mb-2">
                <div class="card p-5 mt-0 mb-3 mx-auto" style="width: 700px">
                    <div class="col-sm-12">
                        <div class="">
                            <h4 class="text-left">
                                <b id="Tite">
                                    Matricula
                                </b>
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr />
                    </div>
                    <form asp-action="CreateMatricula">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="PreinscripcionId" />
                        <div class="d-flex justify-content-around">
                            <div class="form-group col-sm-6">
                                <label asp-for="PrimerNombreBeneficiario" class="control-label"></label>
                                <input readonly asp-for="PrimerNombreBeneficiario" class="form-control" />
                                <span asp-validation-for="PrimerNombreBeneficiario" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label asp-for="PrimerApellidoBeneficiario" class="control-label"></label>
                                <input readonly asp-for="PrimerApellidoBeneficiario" class="form-control" />
                                <span asp-validation-for="PrimerApellidoBeneficiario" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="form-group col-sm-6">
                                <label asp-for="InstitucionEducativa" class="control-label"></label>
                                <input asp-for="InstitucionEducativa" class="form-control" />
                                <span asp-validation-for="InstitucionEducativa" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label asp-for="NivelEscolaridad" class="control-label"></label>
                                <input asp-for="NivelEscolaridad" class="form-control" />
                                <span asp-validation-for="NivelEscolaridad" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-7">
                            <label asp-for="JornadaId" class="control-label"></label>
                            <select asp-for="JornadaId" class="form-control" asp-items="ViewBag.listaJornadas">
                                <option>Seleccione</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="form-group col-sm-6">
                                <label asp-for="FechaMatricula" class="control-label"></label>
                                <input asp-for="FechaMatricula" type="date" id="fechaMatricula" class="form-control" />
                                <span asp-validation-for="FechaMatricula" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label asp-for="EstadoId" class="control-label"></label>
                                <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.listaEstados">
                                    <option>Seleccione</option>
                                </select>
                            </div>
                        </div>

                        <!------------------------------------------------------------------------------------------------>

                        <div class="form-group" style="display: none">
                            <label asp-for="ModalidadId" class="control-label"></label>
                            <select asp-for="ModalidadId" class="form-control" asp-items="ViewBag.listaModalidads">
                                <option>Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="FechaRegistro" class="control-label"></label>
                            <input asp-for="FechaRegistro" class="form-control" />
                            <span asp-validation-for="FechaRegistro" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="display: none">
                            <label asp-for="SegundoApellidoBeneficiario" class="control-label"></label>
                            <input asp-for="SegundoApellidoBeneficiario" class="form-control" />
                            <span asp-validation-for="SegundoApellidoBeneficiario" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="Edad" class="control-label"></label>
                            <input asp-for="Edad" class="form-control" />
                            <span asp-validation-for="Edad" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="display: none">
                            <label asp-for="GeneroId" class="control-label"></label>
                            <select asp-for="GeneroId" class="form-control" asp-items="ViewBag.listaGeneros">
                                <option>Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="GrupoSanguineoId" class="control-label"></label>
                            <select asp-for="GrupoSanguineoId" class="form-control" asp-items="ViewBag.listaGrupoSanguineos">
                                <option>Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="FechaNacimiento" class="control-label"></label>
                            <input asp-for="FechaNacimiento" class="form-control" />
                            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="LugarNacimiento" class="control-label"></label>
                            <input asp-for="LugarNacimiento" class="form-control" />
                            <span asp-validation-for="LugarNacimiento" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="TipoDocumentoId" class="control-label"></label>
                            <select asp-for="TipoDocumentoId" class="form-control" asp-items="ViewBag.listaTipoDocumentos">
                                <option>Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="NumeroDocumento" class="control-label"></label>
                            <input asp-for="NumeroDocumento" class="form-control" />
                            <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="LugarExpedicionDocumento" class="control-label"></label>
                            <input asp-for="LugarExpedicionDocumento" class="form-control" />
                            <span asp-validation-for="LugarExpedicionDocumento" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="NombreEps" class="control-label"></label>
                            <input asp-for="NombreEps" class="form-control" />
                            <span asp-validation-for="NombreEps" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="GrupoSisben" class="control-label"></label>
                            <input asp-for="GrupoSisben" class="form-control" />
                            <span asp-validation-for="GrupoSisben" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="EtniaId" class="control-label"></label>
                            <select asp-for="EtniaId" class="form-control" asp-items="ViewBag.listaEtnias">
                                <option>Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="DireccionResidencia" class="control-label"></label>
                            <input asp-for="DireccionResidencia" class="form-control" />
                            <span asp-validation-for="DireccionResidencia" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="Municipio" class="control-label"></label>
                            <input asp-for="Municipio" class="form-control" />
                            <span asp-validation-for="Municipio" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="CustodiaBeneficiario" class="control-label"></label>
                            <input asp-for="CustodiaBeneficiario" class="form-control" />
                            <span asp-validation-for="CustodiaBeneficiario" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="PadrinoId" class="control-label"></label>
                            <select asp-for="PadrinoId" class="form-control" asp-items="ViewBag.listaPadrinos">
                                <option>Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="AporteEconomicoPadrino" class="control-label"></label>
                            <input asp-for="AporteEconomicoPadrino" class="form-control" />
                            <span asp-validation-for="AporteEconomicoPadrino" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12">
                            <hr />
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="form-group col-sm-6">
                                <input type="button" value="Cancelar" id="btn-cancelar" class="btn btn-outline-secondary float-right" />
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="submit" value="Guardar Matricula" class="btn btn-outline-success float-right" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

    window.onload = function () {
        var fecha = new Date(); //Fecha actual
        var mes = fecha.getMonth() + 1; //obteniendo mes
        var dia = fecha.getDate(); //obteniendo dia
        var ano = fecha.getFullYear(); //obteniendo año
        if (dia < 10)
            dia = '0' + dia; //agrega cero si el menor de 10
        if (mes < 10)
            mes = '0' + mes //agrega cero si el menor de 10
        document.getElementById('fechaMatricula').value = ano + "-" + mes + "-" + dia;
    }

    document.getElementById("btn-cancelar").addEventListener("click", function (event) {
    window.location.href = '@Url.Action("IndexInscritos", "Preinscripcion")';
    });
</script>

}
