@model Avansist.Services.DTOs.PreinscripcionDto

@{
    ViewData["Title"] = "Details Retiro";
}


@section Style {

    <link href="~/css/AggBeneficiario.css" rel="stylesheet" />
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header pb-0">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-sm-6">
                    <ul id="List"> <li class="heading" style="list-style: none; font-size: 25px" id="IconList"> Ver Retiro</li></ul>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="">Inicio</a></li>
                        <li class="breadcrumb-item active">Ver Retiro</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mx-auto p-2">
                <div class="card p-5 mt-0 mb-3 pt-3">
                    <div class="col-sm-12">
                        <div class="">
                            <h4 class="text-left">
                                <b id="Tite">
                                    Ver Retiro
                                </b>
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr />
                    </div>
                    <form>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="PreinscripcionId" />
                        <input type="hidden" asp-for="PreinscripcionId" />
                        <div class="d-flex justify-content-around">
                            <div class="form-group col-sm-4">
                                <label asp-for="PrimerNombreBeneficiario" class="control-label"></label>
                                <input disabled asp-for="PrimerNombreBeneficiario" class="form-control" />
                                <span asp-validation-for="PrimerNombreBeneficiario" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-4">
                                <label asp-for="PrimerApellidoBeneficiario" class="control-label"></label>
                                <input disabled asp-for="PrimerApellidoBeneficiario" class="form-control" />
                                <span asp-validation-for="PrimerApellidoBeneficiario" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-4">
                                <label asp-for="FechaRetiro" class="control-label"></label>
                                <input disabled asp-for="FechaRetiro" type="date" class="form-control" />
                                <span asp-validation-for="FechaRetiro" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="form-group col-sm-12">
                            <label asp-for="ObservacionRetiro" class="control-label"></label>
                            <textarea disabled asp-for="ObservacionRetiro" class="form-control" rows="5"></textarea>
                            <span asp-validation-for="ObservacionRetiro" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="form-group col-sm-6">
                                <input type="button" value="Atras" id="btn-cancelar" class="btn btn-danger float-right" />
                            </div>
                            <div class="form-group col-sm-6">
                                <a class="btn btn-success float-right" asp-controller="Preinscripcion" asp-action="EditRetiro" asp-route-id="@Model.PreinscripcionId">Ir a Actualizar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

    document.getElementById("btn-cancelar").addEventListener("click", function (event) {
    window.location.href = '@Url.Action("IndexRetiro", "Preinscripcion")';
    });

    </script>

}
