@model Avansist.Services.DTOs.ControlAsistenciaDto

@{
    ViewData["Title"] = "Create";
}

@section Style {

    <link href="~/css/AggBeneficiario.css" rel="stylesheet" />
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header pb-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="mt-5">Crear Ingreso Beneficiario</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 mt-5">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="">Inicio</a></li>
                        <li class="breadcrumb-item active">Control Asistencia</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mx-auto p-2">
                    <div class="card p-3 mt-0 mb-3 pt-3">
                        <div class="col-sm-12">
                            <div class="">
                                <h4 class="text-left">
                                    <b id="Tite">
                                        Crear Ingreso
                                    </b>
                                </h4>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr />
                        </div>
                        <form asp-action="Create" id="Create-Ingreso">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="d-flex justify-content-right mb-4 col-sm-12">

                                <div class="form-group col-sm-6">
                                    @*<label asp-for="PreinscripcionId" class="control-label"></label> <label id="asterisco">*</label>
        <select required asp-for="PreinscripcionId" id="preinscripcionId" class="form-control" asp-items="ViewBag.listaBeneficiarios">
            <option value="">Seleccione</option>
        </select>*@
                                    <div class="ui-widget">
                                        <label asp-for="PreinscripcionId" class="control-label"></label> 
                                        <input type="hidden" id="Preinscripcionid" value="" />
                                        <input type="text" asp-for="PreinscripcionId" name="preinscripcionId" id="PreinscripcionId" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="FechaIngreso" class="control-label"></label> <label id="asterisco">*</label>
                                    <input required asp-for="FechaIngreso" id="fechaIngreso" class="form-control" />
                                    <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                                </div>
                                

                            </div>
                            <div class="form-group col-sm-12">
                                <label asp-for="ObservacionIngreso" class="control-label"></label> <label id="asterisco">*</label>
                                <textarea required asp-for="ObservacionIngreso" id="observacionIngreso" class="form-control"></textarea>
                                <span asp-validation-for="ObservacionIngreso" class="text-danger"></span>
                            </div>
                            <input type="hidden" asp-for="ObservacionSalida" id="ObservacionSalida" value="Describa la observacion" />

                            <div class="d-flex justify-content-around">

                                <div class="form-group col-sm-6">
                                    <input type="button" value="Cancelar" id="btn-cancelar" class="btn btn-danger float-right" />
                                </div>

                                <div class="form-group col-sm-6">
                                    <input type="button" id="btn-guardar" value="Crear Ingreso" class="btn btn-success float-right" />
                                </div>
                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
@*
    

*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $("#PreinscripcionId").autocomplete({
        source: '@Url.Action("GetNombres" , "ControlAsistencia")',
        minlength: 2,
        select: function (event, result) {
            this.value = result.value;
            console.log(result.item.id)
            document.getElementById('Preinscripcionid').value = result.item.id;
        }
    });



    document.addEventListener('DOMContentLoaded', function () {
        $('#Create-Ingreso').validate();
        
        
    })
    document.getElementById("btn-guardar").addEventListener("click", function (event) {
        if (!$("#Create-Ingreso").valid()) {
            $("label.error").css("color", "red");
            $("label.error").css("font-weight", "300");

            event.preventDefault();

        } else {
            
            Swal.fire({
                    text: '¿Desea guardar el ingreso?',
                    icon: 'question',
                    confirmButtonColor: '#afdb6e',
                    showDenyButton: true,
                    showCancelButton: false,
                    confirmButtonText: 'Guardar',
                    denyButtonText: 'Cancelar',
                }).then((result) => {
                    if (result.isConfirmed) {
                        let formData = new FormData();

                        formData.append("PreinscripcionId", document.getElementById("Preinscripcionid").value);
                        formData.append("FechaIngreso", document.getElementById("fechaIngreso").value);
                        formData.append("ObservacionIngreso", document.getElementById("observacionIngreso").value);
                        formData.append("ObservacionSalida", document.getElementById("ObservacionSalida").value);
                        $.ajax({
                            url: '@Url.Action("Create", "ControlAsistencia")',
                            type: 'post',
                            processData: false,
                            contentType: false,
                            data: formData,
                            dataType: 'json',
                            success: function (result) {
                                if (result.status == true) {
                                    setTimeout(function () {
                                        window.location.href = '@Url.Action("Index", "ControlAsistencia")';
                                    }, 1000);
                                    alertify.success('Guardado');
                                } else {
                                    alertify.error('No se pudo guardar');
                                }
                            },
                            error: function (err) {
                                console.log(err.data);
                            }
                        });
                    } else if (result.isDenied) {
                        alertify.error('Cancelado');
                    }
                })
        }
    })

    document.getElementById("btn-cancelar").addEventListener("click", function (event) {
    window.location.href = '@Url.Action("Index", "ControlAsistencia")';
    });
</script>

}