@model Avansist.Services.DTOs.ControlAsistenciaDto

@{ 
    ViewData["Title"] = "Detalle asistencia"; 
}


@section Style {

    <link href="~/css/AggBeneficiario.css" rel="stylesheet" />
    <link href="~/css/toggle.css" rel="stylesheet" />
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header pb-0">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-sm-6">
                    <ul id="List"> <li class="heading" style="list-style: none; font-size: 25px" id="IconList"> Detalle asistencia</li></ul>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="">Inicio</a></li>
                        <li class="breadcrumb-item active">Detalle asistencia</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- /.content-header -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mx-auto p-2">
                <div class="card p-3 mt-0 mb-3 pt-3">
                    <div class="col-sm-12">
                        <div class="">
                            <h4 class="text-left">
                                <b id="Tite">
                                    Visualizar ingreso y salida
                                </b>
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr />
                    </div>
                    <form asp-action="Details" method="post" id="formPadrino">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="ControlAsistenciaId" type="hidden" />
                        <div class="d-flex justify-content-right col-sm-12">
                            <div class="form-group col-sm-4">
                                <label asp-for="PreinscripcionId" class="control-label"></label>
                                <select disabled asp-for="PreinscripcionId" class="form-control" asp-items="ViewBag.listaBeneficiarios">
                                    <option>Seleccione</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label asp-for="FechaIngreso" class="control-label"></label>
                                <input asp-for="FechaIngreso" class="form-control" disabled />
                                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-4">
                                <label asp-for="FechaSalida" class="control-label"></label>
                                <input asp-for="FechaSalida" class="form-control" disabled />
                                <span asp-validation-for="FechaSalida" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="d-flex justify-content-right col-sm-12">
                            <div class="form-group col-sm-6">
                                <label asp-for="ObservacionIngreso" class="control-label"></label>
                                <textarea disabled asp-for="ObservacionIngreso" id="ObservacionIngreso" class="form-control"></textarea>
                                <span asp-validation-for="ObservacionIngreso" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label asp-for="ObservacionSalida" class="control-label"></label>
                                <textarea disabled asp-for="ObservacionSalida" id="ObservacionSalida" class="form-control"></textarea>
                                <span asp-validation-for="ObservacionSalida" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label">¿Fue retirado con autorización? (Si o no)</label>
                            <div class="form-check p-0">
                                <label class="switch">
                                    <input disabled asp-for="AutorizacionSalida" type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div>
                                <a type="button" asp-action="Index" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
