@model Avansist.Models.Entities.SalidaExtracurricular

@{
    ViewData["Title"] = "Edit";
}

@section Style{

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header pb-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="mt-5">Editar salida extracurricular</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 mt-5">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="">Inicio</a></li>
                        <li class="breadcrumb-item active">salida extracurricular</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 mx-auto p-2">
                <div class="card mt-0 mb-3">
                    <div class="col-sm-12">
                        <hr />
                        <form asp-action="EditarSalidadExtracurricular" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="SalidaExtracurricularId" id="SalidaExtracurricularId"/>
                            <div class="d-flex justify-content-between mb-4">
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Nombre del evento</label>
                                    <input asp-for="NombreSalidadEvento" class="form-control" />
                                    <span asp-validation-for="NombreSalidadEvento" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="Direccion" class="control-label"></label>
                                    <input asp-for="Direccion" class="form-control" />
                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Responsable</label>
                                    <input asp-for="ResponsableEvento" class="form-control" />
                                    <span asp-validation-for="ResponsableEvento" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="d-flex justify-content-between mb-4">
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Documento</label>
                                    <input asp-for="DocumentoResponsable" class="form-control" />
                                    <span asp-validation-for="DocumentoResponsable" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="FechaSalidadEvento" class="control-label"></label>
                                    <input asp-for="FechaSalidadEvento" class="form-control" />
                                    <span asp-validation-for="FechaSalidadEvento" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="FechaRegresoEvento" class="control-label"></label>
                                    <input asp-for="FechaRegresoEvento" class="form-control" />
                                    <span asp-validation-for="FechaRegresoEvento" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group form-check col-sm-4 ">
                                <label asp-for="EstadoEvento" class="form-check-label">
                                    <input asp-for="EstadoEvento" class="form-check-input" />
                                    @Html.DisplayNameFor(model => model.EstadoEvento)
                                </label>
                            </div>
                            <div class="">
                                <hr />
                            </div>
                            <div class="d-flex justify-content-center mb-4" >
                                <div class="form-group" style="display:none">
                                    <label asp-for="PreinscripcionId" class="control-label"></label>
                                    <select asp-for="PreinscripcionId" class="form-control" asp-items="ViewBag.listaBeneficiarios">
                                        <option value="1">N/A</option>
                                    </select>
                                </div>
                            </div>
                            @*
        <div class="d-flex justify-content-center mb-4">
            <button onclick="Agregar()" class="btn btn-primary" type="button">Agregar</button>
        </div>
                            *@
                            <div class="d-flex justify-content-center mb-4">
                                <div class="col-sm-8">
                                    <table id="Tabla" class="table table-bordered" style="display:none">
                                        <thead>
                                            <tr>
                                                <th>codigo del niño</th>
                                                <th>nombre del nino</th>
                                                <th>acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-around mb-4">
                                        <button type="submit" class="btn btn-success mt-2" id="btn-guardar">Guardar</button>
                                        <button type="button" class="btn btn-danger mt-2" id="btn-cancelar">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <!-- /.card -->
</div>
<!-- /.row -->
@section Scripts {


    <script>
        var contador = 0;
        function Agregar() {
            let rowCount = $('#Tabla tr').length;

            let Beneficiario = $("#PreinscripcionId option:selected");
            $("#Tabla tbody").append(`
                        <tr id="${rowCount + 1}">
                            <td>
                                <input type="hidden" name="Preinscripcion[${contador}].PreinscripcionId" class="form-control" />
                                ${Beneficiario.val()}
                            </td>
                            <td>${Beneficiario.text()}</td>
                            <td>
                                <button  class="btn btn-danger" onclick="EliminarRegistro(${rowCount + 1})">Eliminar</button>
                            </td>
                        </tr>
                    `);
            contador++;

        }

        function EliminarRegistro(id) {
            $(`#${id}`).remove();

        }
    </script>
}
